@import '~@angular/material/theming';

@mixin ngx-breadcrumbs-component-theme($theme) {
  $config: mat-typography-config();

  $spacing: 24px;
  // $theme-foreground-map: map-get($theme, foreground);
  // $theme-secondary-text: mat-color($theme-foreground-map, secondary-text);
  // $theme-text: mat-color($theme-foreground-map, text);

  $primary: map-get($theme, primary);
  $theme-secondary-text: mat-color($primary, default-contrast);
  $theme-text: mat-color($primary, default-contrast);



  ngx-breadcrumbs {
    .title {
      @include mat-typography-level-to-styles($config, title);
      font-weight: 400;
    }

    .crumb,
    .link {
      color: $theme-secondary-text;
      text-decoration: none;
      transition: color $swift-ease-out-duration $swift-ease-out-timing-function;
      // text-transform: uppercase;

      @include mat-typography-level-to-styles($config, caption);

      &:hover {
        color: $theme-text;
        opacity: 0.6;
      }
    }

    .link {
      cursor: pointer;
    }

    .chevron {
      font-size: 18px;
      height: 18px;
      width: 18px;
      margin-left: $spacing/4;
      margin-right: $spacing/4;
    }

    .crumb.current,
    .crumb.current .link {
      color: $theme-text;
    }
  }
}
