<mat-toolbar class="toolbar mat-elevation-z8" fxLayout="row"
             fxLayoutAlign="space-between">

  <div fxLayout="row" fxLayoutAlign="start center">
    <!-- <ngx-sidenav-toggle *ngIf="(url$|async)!='/'" [sidenav]="sidenav"></ngx-sidenav-toggle> -->
    <ngx-sidenav-toggle [sidenav]="sidenav"></ngx-sidenav-toggle>

    <!-- <img class="logo" [routerLink]="['/']" fxHide.gt-md fxHide.xs style="height: 35px; margin-left: 24px; margin-bottom: -5px;"
         src="assets/img/logo_text_dark.png"> -->


    <!-- <div *ngIf="(url$|async)=='/'" fxLayout="row" style="width: 100%;"> -->
    <!-- <div fxLayout="row" style="width: 100%;">
      <span style="width: 22px; text-align: center; margin-left: -3px;"
            fxFlexAlign="center"><img src="assets/logo48.png" style="width: 25px; vertical-align: text-top;"></span>
      <span style="height: 35px; margin-left: 8px; margin-bottom: -5px;"
            fxFlexAlign="center" class="fade-in-on-icon-sidenav text-logo">SIELSE
        SIG
      </span>
    </div> -->
    <!-- <ngx-search-bar *ngIf="(url$|async)!='/'" fxFlex="500px" fxHide
                    fxShow.gt-md></ngx-search-bar> -->
    <!-- <ngx-search-bar fxFlex="500px" fxHide fxShow.gt-md></ngx-search-bar> -->
    <!-- <mat-card class="m-crumb bg-primary"> -->
    <ngx-breadcrumbs [crumbs]="crumbs$ | async"></ngx-breadcrumbs>
    <!-- </mat-card>     -->
  </div>

  <div fxLayout="row">

    <ngx-fullscreen-toggle class="button" fxLayout="column" fxHide fxShow.gt-sm>
    </ngx-fullscreen-toggle>

    <ngx-user-menu class="button" [currentUser]="usuario$ | async">
    </ngx-user-menu>



  </div>
</mat-toolbar>
