$success: #4caf50; //#5cb85c;
$warning: #ff9800; // #f0ad4e;
$danger: #f44336; // #d9534f;
$error: #f44336; // #d9534f;
$info: #00bcd4; //#5bc0de;
$dark: #343a40;
$question: #607d8b;
$gray-light: rgba(0, 0, 0, 0.6);
$gray-black: rgba(255, 255, 255, 0.7);
